build/*
**/*~
*~
**/.*
#*#
a.out
pack/*
.*
**/.*
test/simples/*
test/wordlists/*
test/helpme.txt
test/cmake/*
test/omp/*

doc/pack.wiki/*
doc/README

src/maskgen
src/policygen
src/stastgen
src/cxx.md
src/*.masks
src/*.hcmasks
src/wordlists/*
src/debug/*

bin/*
build/*
