[submodule "doc/ppack.wiki"]
	path = doc/wiki/
	url = https://github.com/wtchdog/ppack.wiki.git
[submodule "include/simpleini"]
	path = include/simpleini
	url = https://github.com/brofield/simpleini.git
